{
"configKeys": {
	"svcmonitor.notification.smtp.server": "<server_smtp>",
	"svcmonitor.notification.smtp.send_account": "<account>",
	"svcmonitor.notification.smtp.port": <port>,
	"svcmonitor.notification.smtp.password": "<pass>",
	"svcmonitor.notification.smtp.ssl_enabled": true,
	"svcmonitor.notification.smtp.from_address": "<sender_address>",
	"svcmonitor.notification.smtp.target_addresses": "<target_address>",
	"svcmonitor.notification.smtp.canonical_url": "<tableau_url>"
		}
}